section.hero
    
    h1.hero__title
        p.hero__decor.
            The
        
        p.
            Abdullah Noman
            
    p.hero__subtitle.
        User Interface & User Experience Designer
        
    button.button Hire now
    
    button.button.hero__scroll-button
        i.icon-arrow_down
