
.hero {
    position: relative;
    padding: 240px 0 260px;
    background: url('../images/hero.jpg') center center no-repeat / cover;
    color: #fff;
    text-align: center;

    &__title {
        font-size: 40px;
        color: currentColor;
        font-weight: 300;
        font-family: var(--font-lato);
        text-transform: uppercase;
        letter-spacing: 25px;
    }

    &__decor {
        font-size: 62px;
        font-family: var(--font-dafoe);
        text-transform: none;
        letter-spacing: normal;
    }

    &__subtitle {
        font-size: 20px;
        color: currentColor;
    }

    & .button {
        min-width: 150px;
        margin-top: 20px;
        border: 1px solid #fff;
        border-radius: 30px;
        text-align: center;
        color: #fff;
        font-family: var(--font-lato);

        &.hero__scroll-button{
            position: absolute * 50% 40px;
            transform: translateX(-50%);
            size: 34px;
            min-width: auto;
            padding: 0;
            text-align: center;

            & [class*='icon-'] {
                vertical-align: 5px;
            }
        }
    }
}
