section.hero

    .box

        p.hero__decor The

        h1.hero__title Abdullah Noman

        p.hero__subtitle.
            User Interface & User Experience Designer

        button.button(type="button") Hire now

        button.button.hero__scroll-button
            i.icon-arrow_down
