footer.footer

    .box

link(href="https://fonts.googleapis.com/css?family=Mr+Dafoe|Old+Standard+TT:300,400,700|Lato:300", rel="stylesheet")
link(rel="stylesheet", href="stylesheets/index.min.css", type="text/css")
script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
script(src="scripts/TweenMax.min.js")
script(src="scripts/jquery.superscrollorama.js")
script(src="scripts/common.js")
