doctype html
html(lang="en")

    head
        meta(charset="utf8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        title Parallax
        link(rel="stylesheet", href="stylesheets/index.css")

    body

        include ../../_blocks/hero/hero.pug

        include ../../_blocks/greeting/greeting.pug

        include ../../_blocks/portfolio/portfolio.pug

        include ../../_blocks/footer/footer.pug
