doctype html
html(lang="en")

    head
        meta(charset="utf8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        title Project42
        link(rel="stylesheet", href="stylesheets/index.css") 
        link(rel="stylesheet", href="../stylesheets/critical/index.css",inline)

    body
        //- 
        //- include ../../_blocks/header/header.pug
        
        include ../../_blocks/hero/hero.pug
        
        include ../../_blocks/greeting/greeting.pug
        
        include ../../_blocks/footer/footer.pug

        
