.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0 20px;
    background: none;
    border: 1px solid #000;
    border-radius: 30px;
    font: 18px var(--font-old);
    color: #000;
    line-height: 45px;
    cursor: pointer;
    text-transform: capitalize;

    &:hover,
    &:focus {
        outline: none;
    }

    & span {
        display: inline-block;
        size: 26px;
        margin-left: 17px;
        border: 1px solid #000;
        border-radius: 50%;
        vertical-align: -10px;

        & [class*='icon-'] {
            vertical-align: 6px;
        }
    }
}
